#header .navbar {
  background-color: #E0DCDC !important;
}

#header a {
  color: #9C9494 !important;
}

#header .navbar-toggle {
  border: 1px solid #B7AFAF;
}

#header .icon-bar {
  color: #B7AFAF;
  border: 2px solid #B7AFAF;
}

.linea img, .linea p, .linea span {
  display: inline-block;
}

#myNavbar ul {
  margin-left: 60%;
  margin-top: -5%;
}

#myNavbar li a {
  color: #9C9494 !important;
}

#houre {
  margin-top: 5%;
}

#houre i {
  color: #8B8585;
  display: inline-block;
}

#houre h4 {
  font-family: 'Arimo', sans-serif;
  display: inline-block;
  position: absolute;
  letter-spacing: 2px;
  color: #8B8585;
  margin-top: 0% !important;
}

#houre p {
  font-family: 'Arimo', sans-serif;
  color: #8B8585;
  display: inline-block;
}

#houre img {
  margin-left: 20%;
}

#houre #custom-search-input {
  width: 20%;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  float: right;
}

#houre #custom-search-input input {
  border: 0;
  box-shadow: none;
  width: 60%;
}

#houre #custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#houre #custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#houre #custom-search-input .glyphicon-search {
  font-size: 23px;
}

#navMenu .navbar {
  border: none !important;
  height: 4em !important;
  margin-bottom: 2%;
}

#backnew {
  background-color: #E0DCDC !important;
  margin-top: 5% !important;
  padding-top: 2% !important;
}

#backnew a {
  font-weight: 600;
}

#backnew a:hover {
  background-color: #D57676 !important;
  color: white !important;
  font-weight: 100;
}

#backnew .dropcar {
  float: right;
  margin-left: 70%;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  background-color: #444040;
  color: #fff !important;
  font-size: 1.5em;
  width: 6em;
  padding: .5%;
}

#backnew .dropdown-menu {
  margin-left: 80%;
}

#backnew .cant {
  font-size: .5em !important;
}

#backnew .acce {
  color: black;
}

#backnew .oferta {
  position: absolute;
  margin-top: -10%;
}

#backnew i {
  margin-left: 5%;
}

#backnew .dropdown-toggle span {
  width: 5em;
}

#backnew .prec span {
  color: #DD6D6D;
}

#footer ul li {
  margin-left: -30%;
  line-height: 200%;
  list-style: none;
}

#footer .backfoot {
  background-color: #EEE6E6;
}

#footer .icons {
  padding: 4%;
  background-color: white;
  color: gray;
  font-size: 1.5em;
}

#footer a {
  text-decoration: none;
  color: #807B7B;
  font-size: .9em;
}

#footer .backultfoo {
  background-color: #454242;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

#footer .backultfoo a {
  color: #E58E67;
}

#footer p {
  font-size: .8em;
  line-height: 1.7;
  display: inline-block;
}

#footer .icocir {
  background-color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  padding: 3%;
}

#footer img {
  display: inline-block;
  float: right;
}

footer {
  background-color: #EEE6E6;
}

#contact {
  background-image: url(../images/client-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30em;
  padding-top: 10%;
}

#contact p {
  font-weight: 600;
  font-size: 3.5em;
  background-color: #FD845A;
  color: white;
  display: inline-block;
  padding-right: 2%;
  margin-top: 5%;
}

#contact span {
  display: block;
  margin: 3% 0 3% 0;
  color: white;
}

#map {
  margin-top: 5%;
  margin-bottom: 5%;
}

#map input {
  border: none;
  background-color: #E6E0E0;
  height: 2.5em;
  margin-bottom: 3%;
  margin-left: 2%;
}

#map .inpDos {
  width: 45%;
}

#map input {
  padding-left: 1%;
}

#map .inpTres {
  width: 93%;
}

#map .mess {
  height: 10em;
  padding-bottom: 19%;
}

#map button {
  border: none;
  background-color: #5E5C5C;
  color: white;
  width: 5em;
  height: 3em;
  float: right;
  margin-right: 5%;
}
